/* Desktop Stylesheet*/
/*
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||                                                            ||
||                                                            ||
||                                                            ||
||                .-.                                         ||
||       ,     .-.   .-.                                      ||
||      / \   (   )-(   )          WDD WDD Capstone Project   ||
||      \ |  ..>-( . )-<           By- Navdeep Kaur Dhindsa   ||
||       \|..'(   )-(   )          WDD PACE 2018              ||
||        Y ___`-'   `-'                                      ||
||        |/__/   `-'                                         ||
||        |                                                   ||
||        |                                                   ||
||        |                                                   ||
||  ______|________                                           || 
|| |_______________|                                          ||
||  \             /                                           ||
||   \           /                                            ||
||    \         /                                             ||
||     \       /                                              ||
||      \_____/                                               ||
||                                                            ||
||                                                            ||
||                                                            ||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||  
  
*/

html{
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  background-color: #ddd;

}

body{
  margin: 0;
 background-color: #fff;
  
}


/*   Main wrapper   */
#wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  
}

.inner_nav{
  visibility:hidden;
}


.inner_nav2{
  background-color: #fff;
  white-space: nowrap;
    
}


.inner_nav2 ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.inner_nav2 ul li{
  display: inline-block;
}
.inner_nav2 ul li a{
  text-decoration: none;
  text-align: center;
  color: #000;;
  padding: 10px ;
  display: inline-block;
}

.inner_nav2 ul li a:hover{
  color: #ab9353;
  border-bottom: 1px solid #4d2c3d;
}
.nav2{
  visibility: hidden;
}
/*   Header CSS  */
#tagline{
  width:200px;
  height: 100px;
   margin: 0 auto;
}

#util{
  width: 400px;
  height: 100px;
  display: inline-block;
  float: left;
}
#util a{
    padding: 8px ;    
    border: none;
    text-decoration: none;
    color: #fff;
    display: inline-block;
   
}

#util img{
  height: 50px;
  width: 50px;
  padding-top: 15px;
}


#tagline img{
  width:200px;
  height: 100px;
}

#top_bar{
  width: 100%;
  position: fixed;
  background: #4d2c3d;
  color: #fff;
  display: block;
  top: 0;
  height: 100px;
  z-index:10000;
}


/*   Header Animation  */

@keyframes fadein{

  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

/* fade in <header>, <nav> */
header{
  opacity: 0;
  -webkit-animation: fadein 1s ease-in-out .5s forwards;
  animation: fadein 1s ease-in-out forwards;
}
nav{
  opacity: 0;
  -webkit-animation: fadein 1s ease-in-out .5s forwards;
  animation: fadein 1s ease-in-out .5s forwards;
}

/*   Header CSS ends   */



/*   Navigation styles   */
nav{
  background-color: #fff;
  min-height: 45px;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 100px;
  
}


nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  text-align: center;
  color: #4d2c3d;
  padding: 10px 15px;
  display: inline-block;
}

nav ul li a:hover{
  color: #4d2c3d;
  border-bottom: 2px solid #ab9353;
}


#content{
  padding: 10px;
  background: #fff;
  height: 100%;
  min-height: 750px;
}


/*  Index page   */



/*   Hero Image   */
#hero{
  width: 100%;
  height: 150px;
  background: #fff;
}

 


/* table   */
table{
     
  margin-top: 8px;
  margin-bottom: 15px;
  border-spacing: 4px;
  width: 480px;
  margin: 0 auto;
  
  /*box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.65);*/
}

table td{
  padding: 5px;
  background-color: #fff;   
  text-align: center;
  border-bottom: 2px solid #ffde56;
  font-weight: 700;
 }
table th{
  padding: 5px;
  background-color: #ddd;  
  color: #333;
  border-bottom: 2px solid #4d2c3d;
  font-weight: 400;
 }
table caption{
  background-color: #fff;
  color: #444;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold; 
  border-radius: 6px 6px 0px 0px;     
 }

/*  Connect page*/
#contact h2{
  font-size: 1.2rem;
  margin-left: 10px;
  padding-top: 10px;
  
}

 form.formEl {
  margin: 0 auto;
  width: 70%
}

 .formEl fieldset{
  margin-top: 20px;
  /*background-color: #ab9353;*/
  border-radius: 10px;
  border: 2px solid #ab9353;
  /*border: 0;*/
  text-align: center;
}

.formEl legend{
  /*padding: 7px;
  background-color: #fff;*/
  /*border: 1px solid #000;*/
  border-radius: 5px;
  /*background-color: #4d2c3d;*/
  text-align: center;
  margin: 0 auto;
  color:#4d2c3d;
  font-size: 0.7rem;
  /*font-weight: 700;*/
}

.formEl label{
  display:inline-block;
  width: 250px;
  color:#4d2c3d;
  font-weight: 700;
}

.formEl input[type="text"], .formEl input[type="date"], .formEl input[type="tel"],  .formEl input[type="password"], .formEl input[type="email"]{
  width: 250px;
  height: 1.3em;
  padding: 4px;
  /*border: 1px solid #000;*/
  border-width: 0 0 0 5px;
  border-color: #ab9353;
  /*border-radius: 5px;*/
  background-color:#ffefd5;         
}

.formEl input[type="text"]:hover, .formEl input[type="date"]:hover, .formEl input[type="tel"]:hover,  .formEl input[type="password"]:hover, .formEl input[type="email"]:hover{
  width: 250px;
  height: 1.3em;
  padding: 4px;
  /*border: 1px solid #000;*/
  border-width: 0 0 0 5px;
  border-color: #4d2c3d;
  /*border-radius: 5px;*/
  background-color:#ffde56;         
}

textarea{
  height: 5em;

  padding:4px;
  border: 2px solid #ab9353;
  border-radius: 5px;
  background-color: #ffefd5;                              
}

textarea:hover{
  border:2px solid #4d2c3d;
  background-color: #ffde56;
}

 .formEl input[type=reset], .button,   .formEl input[type=submit], .formEl .button{
  
  /*border: solid 1px #000;*/
  border: 0;
  background-color: #ffde56;
  /*box-shadow: 0px 2px 4px rgba(0,0,0,0.60);*/
  color: #000;
  font-weight: 700;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  
}
 
 a.button{
  text-decoration: none;
  display: inline-block;
 }
 .outer_a{
  width: 45px;
  margin: 0 auto;
  display: block;
  margin-top:10px;
 }
 .formEl input[type=reset]:hover, .button:hover,
 .formEl input[type=submit]:hover,.formEl .button:hover{
  
  /*border: solid 1px #000;*/
  border: 0;
  background-color: #4d2c3d;
  /*box-shadow: 0px 2px 4px rgba(0,0,0,0.60);*/
  color: #fff;
  font-weight: 700;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  
}

.button_container{
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  text-align: center;
}
.button{
  width: 70px;
  margin: 5px;

  
}
.button2{
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

#connect .required{
  color: #f00;
  font-weight: 700;
  font-size: 1.2em;
}


.error{
  color: #900;
  font-size: 0.8rem;
  
  display: block;
  
  padding-left: 50%;
  text-align: left;
}

body nav ul#navlist li a.current {
  color: #4d2c3d;
  border-bottom: 2px solid #4d2c3d;
  font-weight: 700;
  background:#ffde56;
}
.home_cat {
  width: 30%;
  border: 1px solid #333;
  display: inline-block;
  float: left;
  padding: 5px;
  margin: 5px;
  min-height: 400px;
}
      
.home_cat2{
  margin: 0 auto; 
  display:block;
  border: 0;
}
.home_img{
  /*border: 1px solid #333;*/
  max-width: 150px;
  height: 150px;
  margin: 0 auto;
}

.home_img img{
  height: 150px;
  width: 150px;
}

.home_img2{
  margin-bottom: 7px;
  border: 0;
  border-radius: 50%;
  background-color: #4d2c3d;
}

#home_content{
  padding: 10px;
}
.home_cat h4{
  /*margin: 0 auto;*/
  
  text-align: center;

}
a#mybutton{
  text-decoration: none;
  color: #000;
  display: inline;
  width: 50px;
  background-color: #f33;
}

.home_cat p{
 
  text-align: center;
}
.read_more{
  border: 1px solid #333;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
#control{
  margin: 5px;
}
#control .num{
  border-right: 1px solid #333;

  padding: 7px;
}
#control .left{
  padding: 5px;
  border-right: 1px solid #333;
}
#control .right{
  padding: 5px;
}

#about #content{
  padding: 10px;
}
   
      
    /* login failure and successful flash msgs */
.success{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100px;
  background: #cfc;
  font-size: 1.3rem;
  border: 2px solid #3f3;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
}

.fail{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100px;
  background: #fcc;
  font-size: 1.3rem;
  border: 2px solid #f33;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
}


#lower{
  padding: 15px;
} 
#circle{
  border-radius: 50%;
  border: 1px solid #333;
  background: #fff;
  height: 100px;
  width: 100px;
  display: inline-block;
}
/* top pointer */
#top{
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

#clearfix{
  clear: both;
}
footer{
  clear: both;
  height: 150px;
  background-color: #4d2c3d;
  width: 100%;
}

footer #top_row{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 25px;
  /*background-color: #fff;*/
}

footer #top_row ul{
  width: 500px;
  margin: 0 auto;

}

footer #top_row ul li{
  list-style: none;
  list-style-type: none;
  display: inline-block;
  padding: 0 10px 0 10px;
}

footer #top_row ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
}
footer #top_row ul li a:hover{
  color: #ffde56;
}

footer #social_icons{
  margin-top: 10px;
  padding: 15px 0;
  width: 180px;
  margin: 0 auto;
}
footer .icons{
  height: 40px;
  width: 40px;  
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 5px;
}

footer p{
  clear: both;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 0.7rem;
}


.wrap{
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.search {
  width: 100%;
  position: absolute;
  top: 40px;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #4d2c3d;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #4d2c3d;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;

  height: 36px;
  border: 1px solid #4d2c3d;
  background: #4d2c3d;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

#details{
  width: 90%;
  margin: 0 auto;
  /*background-color: #f33;*/
  padding: 5px;
}

#details h1,h2,h3{
  text-align: center;
}


#cat_ul{
  display: inline-block;
}
#cat_ul li{
  display: inline-block;
  list-style: none;
  margin: 0;
}
#cat_ul li a{
  text-decoration: none;
  color: #000;
  padding: 10px;
  }

  #cat_ul li a:hover{
  background-color: #ffde56;
  border-radius: 10px;
  text-decoration: underline;
  }


.cart_box{
  position:absolute;
  top: 80px;
  right:30px;
  width: 400px;
  border: 2px Solid #000;
  z-index: 100000;
  background-color: rgba(200,200,200,0.5);
}

 .cart_box ul a{
  text-decoration: none;
  color: #900;
  font-weight: 700;
 }

 .cart_box a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
 }

 .cart_box p{
  font-weight: 700;
 }

 .search #list ul{
  background-color: #eee;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
 }

 .search #list ul li{
  padding: 5px;

 }
 .search #list ul li:hover{
  background-color: #ccc;
  cursor: pointer;
 }

 #mypara{
  text-align: center;
 }

 #mypara a.button3{
  text-align: center;
 }

 .home_cat_new{
  border:0;
 }