/* Footer Style begins */
footer{
  height: 80px;
  clear: both;
  font-size: 13px; 
  width: 100%;
  
  overflow: hidden;
  padding-top: 2px;   
  letter-spacing: 0.7px; 
  background-color: #4d2c3d;      
}



footer #left_footer {
  
  width: 32%;
  color: #000;
}

footer #left_footer p{
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer #left_footer ul{
  padding-left: 0;
  text-align: center;
}

footer #left_footer li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

footer #left_footer li a{
  text-decoration: none;
  color: #000;
}

footer #left_footer li a:hover{
  
  color: #ab9353;
}


footer #center_footer {
 
  text-align: center;
  width: 33%;
}
footer #center_footer p{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
}
footer #right_footer{
  width: 22%;
  
  text-align:center;
  color: #fff;
  background-size: 120px 43px;
  background-position: center bottom;    
  
}

footer #right_footer p{
  text-align: center;
  color: #000;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer #left_footer li a{
  text-decoration: none;
}


