/* Stylesheet */
/* html styles */
html{
  background:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  font-family: sans-serif;
  background: #222;
  color:#fff;
}

/* body styles */
.body{
  background: #222;
  color:#fff;
}

/* body styles */
div{
  box-sizing: border-box;
}

/* body styles */
#list,#detail{
  float: left;
}

/* list styles */
#list{
  width: 25%;
}


#list li a{
  border: 0;
}

/* detail styles */
#detail{
  width: 75%;
}


/* links styles */
a{
  margin-right: 5px;
  /*
  background: #ff8;
  color: #173e43;
  border-bottom:  2px solid #3fb0ac;
  */
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  display: inline;
}

/* links hover styles */
a:hover, {
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
  
}

/* links styles */
body p.link{
  display: inline;
}

/* li styles */
li{
  list-style: none;
   padding: 7px;
  width: 200px;
  margin-bottom: 7px;
  border: 1px solid #fff;
  border-radius: 6px;
  
  
}

#list li a{
  padding: 7px;
  width: 200px;
}

li:hover a{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}
li:hover {
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}

/* current book detial in list styles */
li.current a{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}
li.current {
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}

/* first part of paragraph styles */
.first{
  color: #3fb0ac;
}

/* current page style*/
#page{
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
}


table{
  border: 2px solid #fff;
  padding: 0;
  border-collapse: collapse;
  border-spacing: none;
  margin-right: 20px;
}

td,th{
  margin: 0;
  text-align: center;
  padding: 5px;
  border: 2px solid #fff;
  border-collapse: collapse;
  border-spacing: none;
}

td a{
  border:0;
}

td a:hover{
  border:0;
  color:#3fb0ac;
}

.flash{
  height: 100px;
  width: 400px;
  border:2px solid #3fb0ac;
  border-radius: 5px;
  color: #3fb0ac;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 10px; 
}




#search{
  width: 350px;
  margin:0 auto;
  
}

#search_text{
  width: 296px;
  border: 0;
  border: 2px solid #fff;
  border-right: 0;
  border-radius: 5px;
  background-color: #ccc;
  display: inline;
}
#search_text:focus,#search_text:hover{
  border: 2px solid #3fb0ac;
  border-right: 0;
}

#search_icon{
  width: 50px;
  border: 2px solid #fff;
  border-radius: 5px;
  
  background-color: #222;
  color: #fff;
  display: inline; 
}

#search_icon:hover{
  color: #3fb0ac;
  border: 2px solid #3fb0ac;
}

form#create_blog{
  padding:20px;
}
form#create_blog label{
  width: 159px;
  display: inline-block;

}

form#create_blog input, form#create_blog select,  form#create_blog textarea {
  background-color: #ccc;
  padding: 5px;
  font-size: 1.1rem;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

form#create_blog select{
  width:278px;
}

form#create_blog input:focus, 
form#create_blog textarea:focus,
form#create_blog input:hover, 
form#create_blog textarea:hover,
form#create_blog select:hover,
form#create_blog select:focus{
  border: 2px solid #3fb0ac; 
}

.error{
  color: rgb(204, 0, 0);
  display: inline-block;;
  margin-left: 165px;
}
#create_blog textarea{
   margin-left: 165px;
}

.agg{
  color: #3fb0ac;
}

.util_links{
  display: inline-block;  
}

#submit:hover, #delete:hover{
   color: #3fb0ac;
  border: 2px solid #3fb0ac; 
}